/************************** 总容器 ************************/
.wrapper {
    width: 100%;
    height: 100%;
}

/************************** header ***********************/
.wrapper header {
    width: 100%;
    height: 17vw;
    background-color: #1b82d2;
    color: white;
}

.wrapper header .top{
    height: 10vw;
    display: flex;
}

.wrapper header .top p {
    width: 100%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 8vw;
}

.wrapper header .top i {
    font-size: 20px;
    padding-top: 3vw;
    padding-right: 1vw;
}

.wrapper header .search{
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    width: 73%;
    height: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    border-radius: 5px;
}

button[type="submit"] {
    width: 9vw;
    height: 25px;
    background-color: #1772b9;
    color: white;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 1vw;
}

/************************** 功能部分 ***********************/
.wrapper .content1 {
    width: 100%;
    height: 20vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper .content1 li {
    float: left;
    padding-left: 12vw;
    text-align: center;
}

.wrapper .content1 img {
    width: 50px;
    height: 50px;
}

.wrapper .content1 .title {
    display: block;
    font-size: 15px;
}

.wrapper .content1 .content {
    color: #999999;
    font-size: 13px;
    padding-top: 1vw;
}

/************************** 内容部分 ***********************/
.wrapper .content2 {
    width: 100%;
    height: 70%;
    border-top: solid 25px #EEEEEE;
    background-color: #EEEEEE;
}

.wrapper .content2 li {
    width: 100%;
    height: 15vw;
    display: flex;
    background-color: white;
    border-bottom: solid 5px #EEEEEE;
}

.wrapper .content2 li img{
    width: 50px;
    height: 50px;
    padding-top: 2vw;
    padding-left: 2vw;
    border-radius: 5px;
}

.wrapper .content2 li .body{
    width: 50vw;
    padding-left: 3vw;
    padding-top: 2vw;
}

.wrapper .content2 li .body .title{
    font-size: 18px;
}

.wrapper .content2 li .body .content{
    font-size: 13px;
    color: #555555;
    padding-top: 1vw;
}

.wrapper .content2 li .time{
    display: flex;
    font-size: 10px;
    color: #666666;
    padding-left: 26vw;
    padding-top: 1vw;
}

/************************* footer部分**********************/
.wrapper .footer {
    width: 100%;
    height: 10vw;
    border-top: solid 1px #DDD;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.wrapper .footer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
    user-select: none;
    cursor: pointer;
}