/************************** 总容器 ************************/
.wrapper {
    width: 100%;
    height: 100%;
}

/************************** header ***********************/
.wrapper header {
    width: 100%;
    height: 10vw;
    background-color: #1b82d2;
    color: white;
    display: flex;
    align-items: center;
}

.wrapper header .left {
    width: 2vw;
    font-size: 20px;
    text-align: left;
    padding-left: 1vw;
}

.wrapper header .name {
    width: 50vw;
    justify-items: center;
    justify-content: center;
    padding-left: 40vw;
}

.wrapper header .right {
    width: 3vw;
    text-align: right;
}

.wrapper header .right i {
    text-align: right;
}

/************************** 内容部分 ***********************/
.wrapper .content {
    width: 100%;
    height: 93%;
    background-color: #EEEEEE;
}

.wrapper .content li {
    height: 15vw;
    display: flex;
    background-color: white;
    border-bottom: solid 5px #EEEEEE;
}

.wrapper .content li .icon{
    margin-top: 4vw;
    margin-left: 2vw;
    margin-bottom: 5vw;
    background-color: #EEEEEE;
    text-align: center;
    border-radius: 10px;
}

.wrapper .content li i {
    font-size: 30px;
}

.wrapper .content li .body {
    width: 50vw;
    padding-left: 3vw;
    padding-top: 3vw;
}

.wrapper .content li .body .body-title {
    font-size: 18px;
}

.wrapper .content li .body .body-content {
    font-size: 13px;
    color: #555555;
    padding-top: 1vw;
}

.wrapper .content li .time {
    display: flex;
    font-size: 12px;
    color: #666666;
    padding-left: 28vw;
    padding-top: 2vw;
}

/************************* footer部分**********************/
.wrapper .footer {
    width: 100%;
    height: 10vw;
    border-top: solid 1px #DDD;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.wrapper .footer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
    user-select: none;
    cursor: pointer;
}