/************************** 总容器 ************************/
.wrapper {
    width: 100%;
    height: 100%;
}

/************************** header ***********************/
.wrapper header {
    width: 100%;
    height: 10vw;
    background-color: white;
    display: flex;
    align-items: center;
}

.wrapper header .left {
    width: 2vw;
    font-size: 20px;
    text-align: left;
    padding-left: 1vw;
}

.wrapper header .name {
    width: 50vw;
    justify-items: center;
    justify-content: center;
    padding-left: 40vw;
}

.wrapper header .right {
    width: 3vw;
    text-align: right;
}

.wrapper header .right i {
    text-align: right;
}

/************************** 内容部分 ***********************/
.wrapper .chat {
    width: 100%;
    height: 93%;
    background-color: #EEEEEE;
    border-top: solid 1px #cccccc;
}

.wrapper .chat .time {
    width: 100%;
    height: 5vw;
    text-align: center;
    font-size: 13px;
    padding-top: 2vw;
    color: #555555;
}

.wrapper .chat .content {
    background-color: white;
    border-radius: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.wrapper .chat .content .top {
    display: flex;
}

.wrapper .chat .content .top .top-text {
    padding-top: 5vw;
    padding-left: 6vw;
}

.wrapper .chat .content .top .top-image {
    padding-left: 20vw;
}

.wrapper .chat .content .top img {
    width: 30vw;
    height: 20vw;
}

.wrapper .chat .content .bottom {
    display: flex;
    padding-bottom: 1vw;
}

.wrapper .chat .content .bottom img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    padding-left: 3vw;
    padding-top: 3vw;
}

.wrapper .chat .content .bottom .bottom-text {
    padding-top: 4vw;
    padding-left: 2vw;
}

.wrapper .chat .content .bottom .bottom-button {
    padding-left: 30vw;
    padding-top: 5vw;
}

.wrapper .chat .content .bottom .bottom-button button {
    width: 13vw;
    height: 5vw;
    background-color: #1772b9;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

/************************* footer部分**********************/
.wrapper .footer {
    width: 100%;
    height: 10vw;
    border-top: solid 1px #DDD;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.wrapper .footer li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
    user-select: none;
    cursor: pointer;
}